.chatMain
  .mainHeader
    .mainHeader__left-content
      .mainHeader__left-content__group-name
        = @group.name
      %ul.mainHeader__left-content__member-list
        Member :
        %li.mainHeader__left-content__member-list__member
          - @group.users.each do |user|
            = user.name
    = link_to edit_group_path(@group) do
      .mainHeader__edit__btn
        Edit
  .messages
    = render @messages

  .form
    = form_for [@group, @message] do |f|
      .form__input-field
        = f.text_field :text, class: "form__input-field__text", placeholder: "type a message"
        = f.label :image, class: 'form__mask__image' do
          = icon('far', 'image', class: 'icon')
          = f.file_field :image, class: 'file'
      = f.submit "Send", class: "form__send-btn"